<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%include partials/header%>
    <body>
      <section class="index container center">
        <h1>Welcome to <%= title %></h1>
        <a href="/articles" class="button"><span>Go to articles</span></a>
      </section>
    </body>
  </body>
</html>
