<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <header class="flex space-between center header">
        <a class="brand-name" href="/">E-Commerce</a>
        <navbar>
            <%var loggedInType = user || admin%>
            <%if(!loggedInType){%>
                <a href="/dashboard" class="nav-btn">Login</a>
            <%}else{%>
                <a href=""><span><%=loggedInType.type%> - </span> <%=loggedInType.name%></a>
                <a href="/logout" class="nav-btn">Logout</a>
            <%}%>
        </navbar>
    </header>
</body>
</html>