<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%include partials/header%>
    <main>
      <section class="index-section center relative">
        <% var member = user || admin %> 
        <%if(member){%>
          <a href="/podcast" class="mood-cast-btn mood-cast-btn-position"><span>You are logged in as <%=member.name%><br></span>Click here for <span class="span">Mood<small>Cast</small></span></a>
        <%}else{%>
          <form class="form" action="/user/login" method="POST">
            <div class="pageTitle title">Sign In</div>
            <%if(error){%>
              <p class="error"><%=error%></p>
           <%}%>
            <input type="email" class="name formEntry" name="email"  placeholder="Email" />
            <input type="password" class="name formEntry" name="password"  placeholder="Password" />
            <button class="submit formEntry">Sign In</button>
            <div class="create-btn">
              <a href="/user/register/new" >Create Account</a>
            </div>
          </form>
        <%}%>
      </section>
    </main>
  </body>
</html>
